@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



/*Pagina Principal*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  margin-bottom: 20px;
  text-align: center;
}

.main input {
  padding: 10px;
  width: 250px;
  margin-bottom: 60px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/*.main input:focus {
  border-color: #0070f3;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.4);
}*/

.countries-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/*CountryCard*/
.country-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 150px;
  background-color: white;
  color: black;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.country-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: grey;
}

.country-card p {
  color: black;
  font-weight: 500;
}

.country-flag {
  font-size: 2rem;
}

/*Página Dinámica Country*/

.countryPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  padding: 20px;
}

.countryCardSpecific {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 30px;
  max-width: 500px;
  width: 90%;
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.countryCardSpecific h1,
.countryCardSpecific p {
  color: #000;
  margin: 5px 0;
}


/* Botón volver */
.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #0070f3;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.2s ease;
}

.back-button:hover {
  background-color: #0059c1;
}